<li>
    <div class="category-item">
        <i class="fas fa-chevron-down icon"></i>
        <i class="fas fa-folder"></i>
        <span>{{ node.name }}</span>
    </div>
    <ul>
        {% for child in node.children.all %}
            {% include "tutor/partials/student_category_node.html" with node=child %}
        {% endfor %}

        {% for doc in node.documents.all %}
            {# On affiche uniquement les exercices (ceux qui ne sont pas des corrigés) et qui ont un fichier associé #}
            {% if not doc.solution_for and doc.file %}
            <li>
                <a href="{% url 'start-session' doc.id %}" class="document-link">
                    <div class="doc-info"><i class="far fa-file-alt"></i> <span>{{ doc.title }}</span></div>
                    <i class="fas fa-arrow-right start-arrow"></i>
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</li>