{% extends "core/base.html" %}
{% load static %}

{% block title %}Connexion - Catalyst{% endblock %}

{% block head_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'users/auth.css' %}">
{% endblock %}

{% block content %}
<form method="post" class="auth-form">
    <h2>Connexion</h2>
    {% csrf_token %}
    {{ form.as_p }} {# Affiche chaque champ dans un paragraphe <p> #}
    <button type="submit">Se connecter</button>
    <p class="form-link">Pas encore de compte ? <a href="{% url 'signup' %}">Inscrivez-vous</a></p>
</form>
{% endblock %}